.pride-month{text-align: center;}

.calender{display: grid;
grid-template-columns: repeat(7, 1fr);
row-gap: 20px;
column-gap: 10px;}

.name{font-size: 30px;
font-weight: bolder;}

.date, .day{background-color: skyblue;
border-radius: 5px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5em;}

.day{background-color: lightgray;
font-size: 1em ;}

.finishing{text-align: end;
margin-top:20px; font-weight: bold;
color:red;}